#searchBar {
	height: 40px; 
	width: 100%;
	color: red;
}

#map {
	width:48%; 
	height:600px; 
	display: inline-block; 
	vertical-align: top;
}

.list {
	width:50%; 
	height:600px;
	display: inline-block;
}